@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


.background{
  background: linear-gradient(-45deg, #C87EAE, #6E9BCF);
  animation: gradient 15s ease infinite;
  background-size:400% 400%;
}

.background-white{
  background: linear-gradient(-45deg, white, #6E9BCF);
  animation: gradient 15s ease infinite;
  background-size:400% 400%;
}

.background-coral{
  background: linear-gradient(-45deg, coral, #6E9BCF);
  animation: gradient 15s ease infinite;
  background-size:400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
